// this styles it's for the block of prducts in the first page
.BlockOfProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    left: auto;
    right: auto;
    top: 60%;
    color: #ffffff;
    text-decoration: none;
    // this is for the more المزيد button
    .ContainerSpace{
        position: absolute;
        top: 100%;
        right: 20px;
        height: 50px;
        padding: 10px 28px;
        .moreBtn{
            @extend %btnWhiteBackroundHover;
        }
    }
    .ProductCard{
        width: 350px;
        // height: 450px;
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: ease 0.4s;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 20px;
            width: 352px;
            min-height: 482px;
            // -webkit-box-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);
            // -moz-box-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);
        }
        img{
            width: 310px;
            height: 240px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .ProductInfo{
           font-size: 18px;
           text-align: right;
           margin: 5px 15px;
           list-style: none;
           color: black;
           .category{
               opacity: 0.6;
            }
            .title{
                // i make the font size of the title smaller, because of the large titles that make the card look bad
                font-size: 22px;
            }
            .price{
                opacity: 0.6;
                font-size: 20px
            }
        }
        .buyBtn{
           @extend %btn;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a{
                text-decoration-line: none;
                text-decoration: none;
                color: white;
            }
        }
        .buyBtn2{
             @extend %btnHoverOut;
             a{
                text-decoration-line: none;
                text-decoration: none;
                color: white;
            }
         }
 }
}